# This workflow is triggered by the dispatch workflow.

on:
  repository_dispatch:
    types: [ copy-workflow ]

jobs:
  copy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ github.event.client_payload.targets }}
        file: ${{ github.event.client_payload.files }}
    env:
      TARGET_DIR: "template-repo"
      TEMPLATE_DIR: "templates"
      FILE: "${{ matrix.file }}"
      NEEDS_UPDATE: 0
      # We overwrite these values if this is the first deployment of this file.
      COMMIT_MSG: "update ${{ matrix.file }}: ${{ github.event.client_payload.github_event.pull_request.title }}"
      PR_TITLE: "${{ matrix.file }}: ${{ github.event.client_payload.github_event.pull_request.title }}"
    name: Update ${{ matrix.file }} on ${{ matrix.cfg.target }}
    steps:
    - name: Checkout ${{ matrix.cfg.target }}
      uses: actions/checkout@v2
      with:
        repository: ${{ matrix.cfg.target }}
        token: ${{ secrets.WEB3BOT_GITHUB_TOKEN }}
        persist-credentials: true
    - name: Checkout template repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.TARGET_DIR }}
    - name: Add "DO NOT EDIT" header to ${{ env.FILE }}
      run: |
        tmp=$(mktemp)
        cat $TARGET_DIR/$TEMPLATE_DIR/header.yml $TARGET_DIR/$TEMPLATE_DIR/$FILE > $tmp
        mv $tmp $TARGET_DIR/$TEMPLATE_DIR/$FILE
    - name: Check if an update to ${{ env.FILE }} is neccessary
      run: |
        git checkout -b web3-bot/sync
        for f in $(jq ".[]" <<< '${{ github.event.client_payload.files }}' | xargs -n1); do 
          needs_update=false
          commit_msg=""
          if [[ ! -f "$f" ]]; then
            echo "First deployment of $f."
            commit_msg="add $f"
            needs_update=true
          else
            status=$(cmp --silent $f $TARGET_DIR/$TEMPLATE_DIR/$f; echo $?)
            if [[ $status -ne 0 ]]; then
              echo "Update needed."
              commit_msg="update $f"
              needs_update=true
            else
              echo "Files indentical. Skipping."
              continue
            fi
          fi
          if [ $needs_update = true ]; then
            dir=$(dirname $f)
            mkdir -p $dir
            cp $TARGET_DIR/$TEMPLATE_DIR/$FILE $dir
            git add $file
            git commit -m "$commit_msg"
          fi
        done
        rm -rf $TARGET_DIR
    - name: Copy ${{ env.FILE }} to target repo
      if: ${{ env.NEEDS_UPDATE == 1 }}
      run: |
        dir=$(dirname $FILE)
        mkdir -p $dir
        cp $TARGET_DIR/$TEMPLATE_DIR/$FILE $dir
        rm -rf $TARGET_DIR
    - name: Create Pull Request
      if: ${{ env.NEEDS_UPDATE == 1 }}
      uses: peter-evans/create-pull-request@052fc72b4198ba9fbc81b818c6e1859f747d49a8 #v3.8.2
      with:
        commit-message: ${{ env.COMMIT_MSG }}
        title: ${{ env.PR_TITLE }}
        body: |
          Change introduced by ${{ github.event.client_payload.github_event.pull_request.html_url }}.
          ---
          You can trigger a rebase by commenting `@web3-bot rebase`.
        token: ${{ secrets.WEB3BOT_GITHUB_TOKEN }}
        committer: web3-bot <web3-bot@users.noreply.github.com>
        author: web3-bot <web3-bot@users.noreply.github.com>
        branch: web3-bot/update-${{ matrix.file }}
        delete-branch: true
