# This workflow is triggered by the dispatch workflow.

on:
  repository_dispatch:
    types: [ copy-workflow ]

jobs:
  copy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ github.event.client_payload.targets }}
    env:
      TEMPLATE_REPO_DIR: "template-repo"
      TEMPLATE_DIR: "templates"
      NEEDS_UPDATE: 0
      INITIAL_TEST_DEPLOYMENT: 0
    name: Update ${{ matrix.cfg.target }}
    steps:
    - name: Checkout ${{ matrix.cfg.target }}
      uses: actions/checkout@v2
      with:
        repository: ${{ matrix.cfg.target }}
        token: ${{ secrets.WEB3BOT_GITHUB_TOKEN }}
        persist-credentials: true
    - name: git config
      run: |
        git config user.name web3-bot
        git config user.email "web3-bot@users.noreply.github.com"
    - name: is initial test workflow deployment
      run: |
        if [[ ! -f .github/workflows/go-test.yml ]]; then
          echo "INITIAL_TEST_DEPLOYMENT=1" >> $GITHUB_ENV
        fi
    - name: remove Travis on initial deployment
      if: ${{ env.INITIAL_TEST_DEPLOYMENT == 1 }}
      run: |
        if [[ -f .travis.yml ]]; then
          git rm .travis.yml
          git commit -m "disable Travis"
        fi
    - name: remove CircleCI on initial deployment
      if: ${{ env.INITIAL_TEST_DEPLOYMENT == 1 }}
      run: |
        if [[ -d .circleci ]]; then
          git rm -r .circleci
          git commit -m "disable CircleCI"
        fi
    - name: run go mod tidy
      run: |
        go mod edit -go 1.15
        go mod tidy
        if ! git diff --quiet; then
          git add .
          git commit -m "set Go version to 1.15 and run go mod tidy"
        fi
    - name: gofmt
      run: |
        gofmt -s -w .
        if ! git diff --quiet; then
          git add .
          git commit -m "run gofmt -s"
        fi
    - name: Checkout template repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.TEMPLATE_REPO_DIR }}
    - name: Add files
      run: |
        for f in $(jq -r ".[]" <<< '${{ toJson(github.event.client_payload.files) }}'); do 
          echo -e "\nProcessing $f."
          # add DO NOT EDIT header
          tmp=$(mktemp)
          cat $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/header.yml $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f > $tmp
          mv $tmp $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f
          # create commit, if necessary
          commit_msg=""
          if [[ ! -f "$f" ]]; then
            echo "First deployment.\n"
            commit_msg="add $f"
          else
            status=$(cmp --silent $f $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f; echo $?)
            if [[ $status -ne 0 ]]; then
              echo "Update needed."
              commit_msg="update $f"
            else
              echo "File identical. Skipping."
              continue
            fi
          fi
          dir=$(dirname $f)
          mkdir -p $dir
          cp $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f $dir
          git add $f
          git commit -m "$commit_msg"
        done
        rm -rf $TEMPLATE_REPO_DIR
    - name: Check if we need to create a PR
      run: echo "NEEDS_UPDATE=$(git rev-list HEAD...origin/$(git rev-parse --abbrev-ref HEAD) --ignore-submodules --count)" >> $GITHUB_ENV
    - name: Create Pull Request
      if: ${{ env.NEEDS_UPDATE }}
      uses: peter-evans/create-pull-request@052fc72b4198ba9fbc81b818c6e1859f747d49a8 #v3.8.2
      with:
        title: "sync: update CI config files"
        body: |
          Syncing to commit ${{ github.event.client_payload.github_event.head_commit.url }}.
          
          ---
          You can trigger a rebase by commenting `@web3-bot rebase`.
        token: ${{ secrets.WEB3BOT_GITHUB_TOKEN }}
        committer: web3-bot <web3-bot@users.noreply.github.com>
        author: web3-bot <web3-bot@users.noreply.github.com>
        branch: web3-bot/sync
        delete-branch: true
