# This workflow is triggered by the dispatch workflow.

name: Deploy

on:
  workflow_dispatch:
    inputs:
      head_commit_url:
        description: "github.event.head_commit.url of the dispatcher"
        required: true
      targets:
        description: "List of repositories to deploy to"
        required: true

jobs:
  copy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ fromJson(github.event.inputs.targets) }}
      max-parallel: 1
    env:
      TARGET_REPO_DIR: "target-repo"
      TEMPLATE_REPO_DIR: "template-repo"
      TEMPLATE_DIR: "templates"
      NEEDS_UPDATE: 0
      INITIAL_WORKFLOW_DEPLOYMENT: 0
      GO_VERSION_BUMP: 0
      FILES: ""
      GITHUB_USER: "web3-bot"
      GITHUB_EMAIL: "web3-bot@users.noreply.github.com"
      DEFAULTBRANCH: ""
    name: ${{ matrix.cfg.target }}
    steps:
    - name: Checkout ${{ matrix.cfg.target }}
      uses: actions/checkout@v2
      with:
        path: ${{ env.TARGET_REPO_DIR }}
        repository: ${{ matrix.cfg.target }}
        token: ${{ secrets.WEB3BOT_GITHUB_TOKEN }}
        persist-credentials: true
        submodules: recursive
    - name: Checkout template repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.TEMPLATE_REPO_DIR }}
    - name: determine GitHub default branch
      working-directory: ${{ env.TARGET_REPO_DIR }}
      run: |
        defaultbranch=$(git remote show origin | awk '/HEAD branch/ {print $NF}')
        echo "DEFAULTBRANCH=$defaultbranch" >> $GITHUB_ENV
    - name: git config
      working-directory: ${{ env.TARGET_REPO_DIR }}
      run: |
        git config user.name ${{ env.GITHUB_USER }}
        git config user.email ${{ env.GITHUB_EMAIL }}
    - name: determine files to add
      # By setting the environment variable, it's possible to programmatically add / modify this list.
      # See https://github.com/protocol/.github/blob/38135c75e47839623bf9b2748275d8c6167a8fa8/.github/workflows/copy-workflow.yml#L163-L168 for an example, how we used to make use of this.
      run: echo "FILES=$(jq -c '.' <<< ${{ toJson(matrix.cfg.files) }})" >> $GITHUB_ENV
    - name: is initial workflow deployment
      run: |
        INITIAL_WORKFLOW_DEPLOYMENT=1
        for f in $(jq -r ".[]" <<< ${{ toJson(env.FILES) }}); do
          if [[ -f $TARGET_REPO_DIR/$f ]]; then
            INITIAL_WORKFLOW_DEPLOYMENT=0
            break
          fi
        done
        echo "INITIAL_WORKFLOW_DEPLOYMENT=$INITIAL_WORKFLOW_DEPLOYMENT" >> $GITHUB_ENV
    - name: remove Travis (on initial workflow deployment)
      if: ${{ env.INITIAL_WORKFLOW_DEPLOYMENT == 1 }}
      working-directory: ${{ env.TARGET_REPO_DIR }}
      run: |
        if [[ -f .travis.yml ]]; then
          git rm .travis.yml
          git commit -m "disable Travis"
        fi
    - name: remove CircleCI (on initial workflow deployment)
      if: ${{ env.INITIAL_WORKFLOW_DEPLOYMENT == 1 }}
      working-directory: ${{ env.TARGET_REPO_DIR }}
      run: |
        if [[ -d .circleci ]]; then
          git rm -r .circleci
          git commit -m "disable CircleCI"
        fi
    - name: remove gx (on initial workflow deployment)
      if: ${{ env.INITIAL_WORKFLOW_DEPLOYMENT == 1 }}
      working-directory: ${{ env.TARGET_REPO_DIR }}
      run: |
        if [[ -d .gx ]]; then
          git rm -r .gx
          git commit -m "remove .gx"
        fi
    - name: Run steps specific to go
      if: matrix.cfg.deploy_go
      uses: ./.github/actions/copy-workflow-go
    - name: Run steps specific to versioning
      if: matrix.cfg.deploy_versioning
      uses: ./.github/actions/copy-workflow-versioning
    - name: Add files
      run: |
        for f in $(jq -r ".[]" <<< ${{ toJson(env.FILES) }}); do
          echo -e "\nProcessing $f."
          # add DO NOT EDIT header
          tmp=$(mktemp)
          cat $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/header.yml $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f > $tmp
          # replace $default-branch with this repo's GitHub default branch
          sed -i "s:\$default-branch:${{ env.DEFAULTBRANCH }}:g" $tmp
          mv $tmp $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f
          # create commit, if necessary
          commit_msg=""
          if [[ ! -f "$TARGET_REPO_DIR/$f" ]]; then
            echo "First deployment.\n"
            commit_msg="add $f"
          else
            status=$(cmp --silent $TARGET_REPO_DIR/$f $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f; echo $?)
            if [[ $status -ne 0 ]]; then
              echo "Update needed."
              commit_msg="update $f"
            else
              echo "File identical. Skipping."
              continue
            fi
          fi
          dir="$TARGET_REPO_DIR/"$(dirname $f)
          mkdir -p $dir
          cp $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f $dir
          pushd $TARGET_REPO_DIR > /dev/null
          git add $f
          git commit -m "$commit_msg"
          popd > /dev/null
        done
    - name: Check if we need to create a PR
      working-directory: ${{ env.TARGET_REPO_DIR }}
      run: echo "NEEDS_UPDATE=$(git rev-list HEAD...origin/$(git rev-parse --abbrev-ref HEAD) --ignore-submodules --count)" >> $GITHUB_ENV
    - name: Create Pull Request
      if: ${{ env.NEEDS_UPDATE }}
      uses: peter-evans/create-pull-request@83dbed188f76ab04433c639ec214df65e26bc15c # https://github.com/peter-evans/create-pull-request/pull/856
      with:
        path: ${{ env.TARGET_REPO_DIR }}
        title: "sync: update CI config files"
        body: Syncing to commit ${{ github.event.inputs.head_commit_url }}.
        token: ${{ secrets.WEB3BOT_GITHUB_TOKEN }}
        committer: ${{ env.GITHUB_USER }} <${{ env.GITHUB_EMAIL }}>
        author: ${{ env.GITHUB_USER }} <${{ env.GITHUB_EMAIL }}>
        branch: ${{ env.GITHUB_USER }}/sync
        delete-branch: true
